{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'css/accounts.css' %}" rel="stylesheet" />      
{% endblock head %}

{% block content %}    
    <div>    
        <div class="home-container">
            {% if messages %}
                {% for message in messages %}
                    <script>
                        window.onload = function(){
                            alert('{{ message }}')
                        }                            
                    </script>                        
                {% endfor %}
            {% endif %}
            <div class="divcontainer">
                <div class="home-container1">
                    <form class="home-form" action="accounts" method="post">
                        {% csrf_token %}
                        <h1 class="home-text">Register</h1>
                        <input
                            type="text"
                            name="name"
                            placeholder="Name"
                            class="home-textinput1 input"
                        />
                        <input
                            type="email"
                            name="email"
                            placeholder="Email"
                            class="home-textinput input"
                        />              
                        <input
                            type="password"
                            name="password"
                            placeholder="Password"
                            class="home-textinput2 input"
                        />
                        <div class="radiobuttons">
                            <div>
                                <input type="radio" id="no" name="is_seller" value="False" />                
                                <label for="no">Customer</label>
                            </div>
                            <div>
                                <input type="radio" id="yes" name="is_seller" value="True"/>                
                                <label for="yes">Seller</label>
                            </div>
                        </div>
                        <button class="home-button button" name="signup">
                            <span class="home-text1"><span>Sign Up</span></span>
                        </button>
                    </form>
                    <form class="home-form1" action="accounts" method="post">
                        {% csrf_token %}
                        <h1 class="home-text3">Log In</h1>
                        <input
                            type="email"
                            name="email"
                            placeholder="Email"
                            class="home-textinput3 input"
                        />
                        <input
                            type="password"
                            name="password"
                            placeholder="Password"
                            class="home-textinput4 input"
                        />              
                        <button class="home-button1 button" name="login">
                            <span class="home-text4">
                                <span>Login</span>
                                <span></span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

