{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/addproduct.css' %}" />
{% endblock head %}

{% block content %}
  <script >
    function checkRadioButtons() {
      if (document.getElementById('yes').checked) {
        document.getElementById('sizeSelection').style.display = 'block';
      } 
      else {
        document.getElementById('sizeSelection').style.display = 'none';
      }
    }
  </script>
  {% if messages %}
    {% for message in messages %}
        <script>
            window.onload = function(){
            alert('{{ message }}')
            }                            
        </script>                        
    {% endfor %}
  {% endif %}

  <div class="home-container">
    <div class="divcontainer">
      <div class="home-container1">
        <form class="home-form" action="addproduct" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h1 class="home-text">Add a Product</h1>
          <label for="store" style="text-align:center;">Select your Store</label>
          <select name="storename" id="store" style="border: none; padding-right: 0px; margin-top: 5px;">
            {% for store in stores %}
              <option value="{{ store.pk }}">{{ store.store_name }}</option>
            {% endfor %}
          </select>
          <input
            type="text"
            name="name"
            placeholder="Name"
            class="home-textinput2 input"
            maxlength="50"
            required
          />
          <input
            type="text"
            name="brand"
            placeholder="Brand"
            class="home-textinput2 input"
            maxlength="50"
            required
          />
          <input
            type="number"
            name="price"
            placeholder="Price($)"
            class="home-textinput2 input"
            step="any"
            style="padding-right: 0px;"
            required
          />
          <input
            type="number"
            name="total_stock"
            placeholder="Total Stock"
            class="home-textinput2 input"
            style="padding-right: 0px;"
            required
          />
          <p style="text-align:center;">
            Does your product come in multiple sizes?
          </p>
          <div class="radiobuttons">
            <div>
              <input type="radio" id="no" name="size" value="False" onclick="checkRadioButtons();" required />                
              <label for="no">No</label>
            </div>
            <div>
              <input type="radio" id="yes" name="size" value="True" onclick="checkRadioButtons();" />                
              <label for="yes">Yes</label>
            </div>
          </div>
          <div id="sizeSelection" style="display: none; text-align: center;">
            <input
              type="number"
              name="small"
              placeholder="Small"
              class="home-textinput2 input"
              style="padding-right: 0px;"
            />
            <input
              type="number"
              name="medium"
              placeholder="Medium"
              class="home-textinput2 input"
              style="padding-right: 0px;"
            />
            <input
              type="number"
              name="large"
              placeholder="Large"
              class="home-textinput2 input"
              style="padding-right: 0px;"
            />       
        </div>       
          <input
            type="text"
            name="description"
            placeholder="Description"
            class="home-textinput2 input"
            maxlength="255"
            required
          />
          <label for="imglabel" style="text-align: center; margin-bottom: 4px;">Upload Product Images</label>
          <input required name="images" type="file" multiple class="form-control-file" id="imglabel" style="border:none; text-align-last: center"/>              
          <button class="home-button button">
            <span class="home-text1"><span>Register</span></span>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
