{% load static %}
<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <style>
          html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}
        </style>
        {% block head %}
        {% endblock head %}
    </head>
    
    <body>
        <nav class="navbar">  
            <img src="{% static 'images/logo.png' %}" alt="logo" width=4% height=4%/>
            <ul class="nav-links">  
              <div class="menu">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  {% if not request.session.user_id %}
                  <li><a href="{% url 'accounts' %}">Register</a></li>
                  <li><a href="{% url 'accounts' %}">Login</a></li>
                  {% else %}
                    {% if request.session.is_seller %}
                      <li><a href="{% url 'registerstore' %}">Register Store</a></li>
                      <li><a href="{% url 'addproduct' %}">Add Products</a></li>
                    {% endif %}  
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% endif %}
              </div>
            </ul>
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>