{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/productimages.css' %}" />
{% endblock head %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <script>
                window.onload = function(){
                alert('{{ message }}')
                }                            
            </script>                        
        {% endfor %}
    {% endif %}
    <script >
    function selectImages() {
        let allbuttons = document.querySelectorAll('input[type=radio]');
        allbuttons.forEach(element => {
            if (element.checked) {
                document.getElementById(element.id).style.display = 'block';
            } 
            else {
                element.checked = false
                document.getElementById(element.id).style.display = 'none';
            }           
        });
    }
    </script>
    <h1 style="text-align: center; margin: 10px;">Products</h1>
    <div class="prodDisplay">
        <form class="prodFrom" method="post">
            {% csrf_token %}
            <label for="sort"><h1 style="text-align: center; margin: 10px; font-size: 15px;">Sort by:</h1></label>
            <select name="sort" style="font-size: 15px; outline: none;">
                <option value="sortbyname">Name</option>
                <option value="highprice">Price (High to Low)</option>
                <option value="lowprice">Price (Low to High)</option>
            </select>
            <button class="home-button button" name="sortby">
                <span class="home-text1 ">Sort</span>
            </button>
        </form>
        
        <form class="prodFrom" method="post">
            {% csrf_token %}
            <input name="searchbar" style="font-size: 15px; justify-content: center; align-self: center; border-bottom:1px solid #167A46; outline: none;" type="text" name="" id="Search" placeholder="Search"/>
            <button class="home-button button" name="search">
                <span class="home-text1 ">Search</span>
            </button>
        </form>
    </div>
    {% if images %}
        <div style="display: flex;">
        {% for img in images %}           
            <script>
                selectImages();
            </script>
            {% ifchanged img.product_id %}
                <div class="card">        
                {% for i in images %}
                    {% if i.product_id == img.product_id %}
                        <img id="{{ i.pk }}" src="{{ i.image.url }}" class="productimg">
                    {% endif %}
                {% endfor %}
                {% for i in images %}
                    {% if i.product_id == img.product_id %}
                        <input type="radio" id="{{ i.pk }}" name="{{ img.pk }}" onclick="selectImages();" checked/>
                    {% endif %}
                {% endfor %}
            {% endifchanged %}
            {% ifchanged img.product_id %}
                <h1>{{ img.product.name }}</h1>
                <p class="price">${{ img.product.price }}</p>
                <p><a href="/product/{{ img.product_id }}"><button>View</button></a></p>
                </div>
            {% endifchanged %}                    
        {% endfor %}
        </div>
    {% endif %}
{% endblock content %}