{% extends "base.html" %}
{% load static %}

{% block head %}
  <link href="{% static 'css/registerstore.css' %}" rel="stylesheet" />
{% endblock head %}

{% block content %}
  <div class="home-container">
    {% if messages %}
      {% for message in messages %}
        <script>
            window.onload = function(){
              alert('{{ message }}')
            }                            
        </script>                        
      {% endfor %}
    {% endif %}
    <div class="divcontainer">
      <div class="home-container1">
        <form class="home-form" action="registerstore" method="post">
          {% csrf_token %}
          <h1 class="home-text">Register your Store</h1>
          <input
            type="text"
            name="store_name"
            placeholder="Store Name"
            class="home-textinput2 input"
            maxlength="50"
          />
          <input
            type="text"
            name="contact"
            placeholder="Contact Information"
            class="home-textinput2 input"
            maxlength="20"
          />
          <input
            type="text"
            name="location"
            placeholder="Main Store Location"
            class="home-textinput2 input"
            maxlength="255"
          />    
          <button class="home-button button">
            <span class="home-text1"><span>Register</span></span>
          </button>
        </form>          
      </div>
    </div>
  </div>
{% endblock content %}
