{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
{% endblock head %}


{% block content %}    
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <script>
                    window.onload = function(){
                    alert('{{ message }}')
                    }                            
                </script>                        
            {% endfor %}
        {% endif %}
        <h1 style="margin-bottom: 10px;">Wishlist</h1>        
        {% if wishlistItems %}
            {% for item in wishlistItems %}
                <div class="card" style="width: 50%;">
                    {% if images %}
                        {% for img in images %} 
                            {% ifchanged img.product_id %}
                                {% if item.product_id == img.product_id %}
                                    <div><img id="{{ img.pk }}" src="{{ img.image.url }}" class="productimg"></div>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                    {% endif %}
                    <div style="text-align: justify;">
                    <h1>{{ item.product.name }}</h1>
                    <p style="opacity: 80%; font-size: 15px;">{{ item.product.brand }}</p>          
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div><button type="submit" name="delete" value="{{ item.product_id }}">Delete</button></div>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <h1 style="margin-top: 10px; margin-bottom: 10px;">Empty!</h1>
        {% endif %} 
    </div>

    <script >
        let allprices = document.getElementsByClassName('price');
        let sum = 0;
        for (let index = 0; index < allprices.length-1; index++) {      
            price = allprices[index].innerHTML
            price = price.slice(1);
            price = parseFloat(price);
            sum += price;              
        }
        document.getElementById('total').innerHTML += sum;
    </script>

{% endblock content %}
